containers:
  - name: flask-app
    image: geethika212/flask-minikube-app:latest
    ports:
      - containerPort: 5000
    readinessProbe:
      httpGet:
        path: /
        port: 5000
      initialDelaySeconds: 5
      periodSeconds: 5
    livenessProbe:
      httpGet:
        path: /
        port: 5000
      initialDelaySeconds: 10
      periodSeconds: 10



